attrs==21.4.0
contextlib2==21.6.0
et-xmlfile==1.1.0
execnet==1.9.0
iniconfig==1.1.1
mock==4.0.3
numpy==1.22.1
openpyxl==3.0.9
packaging==21.3
pandas==1.4.2
path==16.4.0
path.py==12.5.0
Pillow==9.0.0
pluggy==1.0.0
protobuf==3.19.1
py==1.11.0
pyparsing==3.0.9
PyQt6==6.2.0
PyQt6-3D==6.2.0
PyQt6-Charts==6.2.0
PyQt6-DataVisualization==6.2.0
PyQt6-NetworkAuth==6.2.0
PyQt6-sip==13.1.0
pytest==7.1.2
pytest-shutil==1.7.0
python-dateutil==2.8.2
pytz==2022.1
six==1.16.0
termcolor==1.1.0
tomli==2.0.1